<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.BookmarkViewMapper">
    <resultMap id="BaseResultMap" type="com.github.learndifferent.mtm.entity.ViewDataDO">
        <result column="bookmark_id" jdbcType="BIGINT" property="bookmarkId"/>
        <result column="views" jdbcType="INTEGER" property="views"/>
    </resultMap>
    <insert id="addAll" parameterType="com.github.learndifferent.mtm.entity.ViewDataDO">
        insert into bookmark_view (bookmark_id, views)
        values
        <foreach collection="set" item="webAndViews" separator=",">
            (#{webAndViews.bookmarkId}, #{webAndViews.views})
        </foreach>
    </insert>
    <delete id="clearAll">
        delete
        from bookmark_view;
    </delete>
    <select id="getAllViewData" resultType="com.github.learndifferent.mtm.entity.ViewDataDO">
        select bookmark_id, views
        from bookmark_view;
    </select>
    <delete id="deleteViewData">
        delete
        from bookmark_view
        where bookmark_id = #{bookmarkId};
    </delete>
</mapper>