<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.BookmarkMapper">
    <resultMap id="BaseResultMap" type="com.github.learndifferent.mtm.entity.BookmarkDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_public" jdbcType="BOOLEAN" property="isPublic"/>
    </resultMap>

    <select id="filterPublicBookmarks" resultMap="BaseResultMap"
            parameterType="com.github.learndifferent.mtm.dto.BookmarkFilterDTO">
        select
        id, user_name, title, url, img, `desc`, creation_time, is_public
        from bookmark
        <where>
            <if test="usernames != null and usernames.size() != 0">
                <foreach collection="usernames" item="username" open="(" close=") and" separator="or">
                    user_name = #{username}
                </foreach>
            </if>
            `is_public` = 1
            and `is_deleted` = 0
        </where>
        <!-- fromDatetime 和 toDatetime 表示时间范围 -->
        <if test="fromDatetime != null and toDatetime != null">
            HAVING creation_time <![CDATA[ >= ]]> #{fromDatetime,jdbcType=TIMESTAMP}
            AND creation_time <![CDATA[ <= ]]> #{toDatetime,jdbcType=TIMESTAMP}
        </if>
        order by ${orderField}
        <if test="isDesc == null or isDesc == false">
            desc
        </if>
        <!-- 如果按照时间排序，相同时间下要按照 username 升序排序 -->
        <if test="orderField.equalsIgnoreCase('creation_time')">
            , user_name asc
        </if>
        <!-- 如果按照 username 排序，相同 username 下要按照时间降序排序 -->
        <if test="orderField.equalsIgnoreCase('user_name')">
            , creation_time desc
        </if>
        limit 0, #{load}
    </select>

    <select id="getPopularPublicBookmarks" resultType="com.github.learndifferent.mtm.dto.PopularBookmarkDTO">
        select count(url) as count, url, title, `desc`, img
        from bookmark
        where `is_public` = 1
          and `is_deleted` = 0
        group by url, title, `desc`, img
        order by count desc
        limit #{from}, #{size};
    </select>

    <select id="countDistinctPublicUrl" resultType="java.lang.Integer">
        select count(distinct url)
        from bookmark
        where `is_public` = 1
          and `is_deleted` = 0
    </select>

    <select id="getAllPublicAndSpecificPrivateBookmarks" resultMap="BaseResultMap">
        <!-- 因为 id 也是根据时间顺序生成的，所以用 creation_time 和 id 排序是一样的效果 -->
        select
        id, user_name, title, url, img, `desc`, creation_time, is_public
        from
        bookmark
        <where>
            `is_deleted` = 0 and (
            <if test="specUsername != null and specUsername != ''">
                `user_name` = #{specUsername} or
            </if>
            `is_public` = 1 )
        </where>
        order by `id` desc
        <if test="from!=null and size!=null">
            limit #{from},#{size}
        </if>
    </select>

    <select id="getBookmarkById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id,
               user_name,
               title,
               url,
               img,
               `desc`,
               creation_time,
               is_public
        from bookmark
        where id = #{id,jdbcType=INTEGER}
          and is_deleted = 0;
    </select>

    <select id="getBookmarksByUrl" resultMap="BaseResultMap">
        select id,
               user_name,
               title,
               url,
               img,
               `desc`,
               creation_time,
               is_public
        from bookmark
        where url = #{url}
          and is_deleted = 0;
    </select>

    <select id="countAllPublicAndSpecificPrivateBookmarks" resultType="java.lang.Integer">
        select count(id)
        from bookmark
        <where>
            is_deleted = 0 and (`is_public` = 1
            <if test="specUsername != null and specUsername != ''">
                or user_name = #{specUsername}
            </if>
            )
        </where>
        ;
    </select>

    <select id="getUserBookmarks" resultMap="BaseResultMap">
        select
        id, user_name, title, url, img, `desc`, creation_time, is_public
        from bookmark
        where user_name = #{userName}
        <!-- 如果 shouldIncludePrivate 为 false，就只查找数据库中 is_public 属性为 true 的 -->
        <if test="!shouldIncludePrivate">
            and `is_public` = 1
        </if>
        and is_deleted = 0
        order by id desc
        <if test="from!=null and size!=null">
            limit #{from},#{size}
        </if>
    </select>

    <select id="countUserBookmarks" resultType="java.lang.Integer">
        select count(user_name)
        from bookmark
        where user_name = #{userName}
        <if test="!shouldIncludePrivate">
            and `is_public` = 1
        </if>
        and is_deleted = 0
        ;
    </select>

    <select id="getAllPublicBasicWebDataForSearch"
            resultType="com.github.learndifferent.mtm.dto.search.WebForSearchDTO">
        select url, title, img, `desc`
        from bookmark
        where `is_public` = 1
          and is_deleted = 0
        group by url, title, `desc`, img;
    </select>

    <select id="getAllPublicSomePrivateExcludingSpecificUserBookmark" resultMap="BaseResultMap">
        select
        id, user_name, title, url, img, `desc`, creation_time, is_public
        from bookmark
        where user_name != #{excludeUsername}
        and ( `is_public` = 1
        <if test="includePrivateUsername != null and includePrivateUsername != '' and !includePrivateUsername.equalsIgnoreCase(excludeUsername)">
            or user_name = #{includePrivateUsername}
        </if>
        ) and is_deleted = 0
        order by id desc limit #{from}, #{size};
    </select>

    <select id="countAllPublicSomePrivateExcludingSpecificUserBookmark" resultType="java.lang.Integer">
        select count(id)
        from bookmark
        where user_name != #{excludeUsername}
        and ( `is_public` = 1
        <if test="includePrivateUsername != null and includePrivateUsername != '' and !includePrivateUsername.equalsIgnoreCase(excludeUsername)">
            or user_name = #{includePrivateUsername}
        </if>
        ) and is_deleted = 0;
    </select>

    <update id="deleteBookmarkById" parameterType="java.lang.Integer">
        update bookmark
        set is_deleted = 1
        where id = #{id,jdbcType=INTEGER};
    </update>

    <update id="deleteUserBookmarks" parameterType="java.lang.Integer">
        update bookmark
        set is_deleted = 1
        where user_name = #{userName};
    </update>

    <insert id="addBookmark" keyColumn="id" keyProperty="id"
            parameterType="com.github.learndifferent.mtm.entity.BookmarkDO"
            useGeneratedKeys="true">
        insert into bookmark(user_name, title, url, img, `desc`, `creation_time`, `is_public`)
        values (#{userName}, #{title}, #{url}, #{img}, #{desc}, #{createTime}, #{isPublic})
    </insert>

    <update id="updateBookmark" parameterType="com.github.learndifferent.mtm.entity.BookmarkDO">
        update bookmark
        set user_name       = #{userName,jdbcType=VARCHAR},
            title           = #{title,jdbcType=VARCHAR},
            url             = #{url,jdbcType=VARCHAR},
            img             = #{img,jdbcType=VARCHAR},
            `desc`          = #{desc,jdbcType=VARCHAR},
            `creation_time` = #{createTime,jdbcType=TIMESTAMP},
            `is_public`     = #{isPublic,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getBookmarkOwnerName" resultType="java.lang.String">
        select user_name
        from bookmark
        where id = #{id,jdbcType=INTEGER}
          and is_deleted = 0
        limit 1;
    </select>

    <select id="getVisitedBookmarks" resultType="com.github.learndifferent.mtm.vo.VisitedBookmarksVO">
        select b.user_name, b.title, b.url, b.is_public, v.bookmark_id, v.views
        from bookmark_view v
                 left join bookmark b on v.bookmark_id = b.id
        where is_deleted = 0
        order by v.views desc
        limit #{from},#{size};
    </select>
</mapper>