<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.CommentHistoryMapper">

    <insert id="addHistory" parameterType="com.github.learndifferent.mtm.dto.CommentHistoryDTO">
        insert into comment_history (id, comment_id, comment, creation_time)
        values (#{id}, #{commentId}, #{comment}, #{creationTime});
    </insert>
    <select id="getHistory" resultType="com.github.learndifferent.mtm.entity.CommentHistoryDO">
        select id, comment_id, comment, creation_time
        from comment_history
        where comment_id = #{commentId}
        order by creation_time desc;
    </select>
</mapper>