<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.github.learndifferent.mtm.entity.CommentDO">
        <id column="commentId" jdbcType="INTEGER" property="commentId"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="webId" jdbcType="INTEGER" property="webId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="creationTime" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="replyToCommentId" jdbcType="INTEGER" property="replyToCommentId"/>
    </resultMap>

    <select id="getCommentById" resultType="com.github.learndifferent.mtm.entity.CommentDO">
        select *
        from comment
        where commentId = #{commentId,jdbcType=INTEGER};
    </select>

    <select id="getCommentsByWebAndReplyCommentId" resultType="com.github.learndifferent.mtm.entity.CommentDO">
        select *
        from comment
        <where>
            <if test="webId != null">
                webId = #{webId,jdbcType=INTEGER}
            </if>
            <if test="replyToCommentId == null">
                and replyToCommentId is null
            </if>
            <if test="replyToCommentId != null">
                and replyToCommentId = #{replyToCommentId}
            </if>
        </where>
        order by `creationTime`
        <if test="isDesc != null and isDesc != false">
            desc
        </if>
        <if test="load != null and load > 0">
            limit 0, #{load}
        </if>;
    </select>

    <select id="getCommentsByUsername" resultType="com.github.learndifferent.mtm.entity.CommentDO">
        select *
        from comment
        where username = #{username,jdbcType=VARCHAR};
    </select>

    <select id="getCommentByWebIdAndUsernameAndComment" resultType="com.github.learndifferent.mtm.entity.CommentDO">
        select *
        from comment
        where comment = #{comment}
          and username = #{username}
          and webId = #{webId};
    </select>

    <select id="countRepliesFromComment" resultType="java.lang.Integer">
        select count(*)
        from comment
        where replyToCommentId = #{countRepliesFromCommentId};
    </select>

    <delete id="deleteCommentById" parameterType="java.lang.Integer">
        delete
        from comment
        where commentId = #{commentId,jdbcType=INTEGER}
    </delete>

    <insert id="addComment" keyColumn="commentId" keyProperty="commentId"
            parameterType="com.github.learndifferent.mtm.entity.CommentDO" useGeneratedKeys="true">
        insert into comment (`comment`, `webId`, `username`, `creationTime`, `replyToCommentId`)
        values (#{comment,jdbcType=VARCHAR}, #{webId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
                #{creationTime,jdbcType=TIMESTAMP}, #{replyToCommentId,jdbcType=INTEGER})
    </insert>

    <update id="updateComment">
        update comment
        set comment = #{comment,jdbcType=VARCHAR}
        where commentId = #{commentId,jdbcType=INTEGER}
    </update>

    <select id="countCommentByWebId" resultType="java.lang.Integer">
        select count(webId)
        from comment
        <where>
            <if test="webId != null">
                webId = #{webId}
            </if>
        </where>
        ;
    </select>
</mapper>