<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.IdGeneratorMapper">
    <!-- The primary key is biz_tag, therefore the 'insert ignore into' clause will be effective -->
    <insert id="insertIfNotPresent">
        insert ignore into id_generator(biz_tag, max_id, step, description)
        values (#{bizTag}, #{maxId}, #{step}, #{description})
    </insert>

    <!-- The primary key is biz_tag, therefore the ON DUPLICATE KEY UPDATE clause will be effective -->
    <update id="updateMaxIdOrInsertIfNotPresent">
        insert into id_generator(biz_tag, max_id, step, description)
        values (#{bizTag}, 1, #{step}, #{description})
        ON DUPLICATE KEY UPDATE max_id = max_id + step
    </update>

    <select id="getMaxId" resultType="java.lang.Long">
        select max_id
        from id_generator
        where biz_tag = #{bizTag}
        limit 1
    </select>

    <select id="getAllBizTags" resultType="java.lang.String">
        select biz_tag
        from id_generator;
    </select>

    <select id="getLastId" resultType="java.lang.Long">
        select ${primaryKeyColumnName}
        from ${tableName}
        order by ${primaryKeyColumnName} desc
        limit 1
    </select>
</mapper>
