<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.SystemMenuMapper">

    <select id="getAllMenus" resultType="com.github.learndifferent.mtm.entity.SysMenu">
        select id,
               menu_name,
               parent_id,
               display_order,
               path,
               component,
               query,
               is_external_link,
               is_cache,
               is_hidden,
               permissions,
               material_design_icon,
               created_by,
               creation_time,
               updated_by,
               update_time,
               remark
        from system_menu
        where is_hidden = false
    </select>
</mapper>
