<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.github.learndifferent.mtm.entity.TagDO">
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="web_id" jdbcType="INTEGER" property="webId"/>
    </resultMap>
    <insert id="addTag" parameterType="com.github.learndifferent.mtm.entity.TagDO">
        insert into tag (tag, web_id)
        values (#{tag,jdbcType=VARCHAR}, #{webId,jdbcType=INTEGER})
    </insert>
    <select id="getSpecificTagByTagTextAndWebId" resultType="com.github.learndifferent.mtm.entity.TagDO">
        select tag, web_id
        from tag
        where tag = #{tagName,jdbcType=VARCHAR}
          and web_id = #{webId,jdbcType=INTEGER}
          and is_deleted = 0
        limit 1;
    </select>
    <select id="getTagsByWebId" resultType="java.lang.String">
        select distinct tag
        from tag
        <where>
            <if test="webId != null">
                web_id = #{webId,jdbcType=INTEGER} and
            </if>
            is_deleted = 0
        </where>
        limit #{from}, #{size};
    </select>
    <select id="getWebIdsByTagName" resultType="java.lang.Integer">
        select web_id
        from tag
        where tag = #{tagName,jdbcType=VARCHAR}
          and is_deleted = 0
        limit #{from}, #{size};
    </select>
    <update id="deleteTag">
        update tag
        set is_deleted = 1
        where tag = #{tagName,jdbcType=VARCHAR}
          and web_id = #{webId,jdbcType=INTEGER};
    </update>
    <update id="deleteAllTagsByWebId">
        update tag
        set is_deleted = 1
        where web_id = #{webId,jdbcType=INTEGER};
    </update>
    <select id="getTagAndCount" resultType="com.github.learndifferent.mtm.entity.TagAndCountDO">
        select count(t.web_id) as number, `tag`
        from tag t
        left join bookmark b
            on t.web_id = b.id
        where t.is_deleted = 0 and b.is_public = 1 and b.is_deleted = 0
        group by tag
        <if test="beMoreThanOne == true">
            having number > 1
        </if>
        order by number desc
        <if test="size gte 0">
            limit #{from}, #{size};
        </if>
    </select>
    <select id="countDistinctTags" resultType="java.lang.Integer">
        select count(distinct tag)
        from tag
        where is_deleted = 0;
    </select>
    <select id="countTags" resultType="java.lang.Integer">
        select count(tag)
        from tag
        where tag = #{tagName}
          and is_deleted = 0;
    </select>
</mapper>