<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.learndifferent.mtm.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.github.learndifferent.mtm.entity.TagDO">
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="web_id" jdbcType="INTEGER" property="webId"/>
    </resultMap>
    <insert id="addTag" parameterType="com.github.learndifferent.mtm.entity.TagDO">
        insert into tag (tag, web_id)
        values (#{tag,jdbcType=VARCHAR}, #{webId,jdbcType=INTEGER})
    </insert>
    <select id="getSpecificTagByTagTextAndWebId" resultType="com.github.learndifferent.mtm.entity.TagDO">
        select *
        from tag
        where tag = #{tagName,jdbcType=VARCHAR}
          and web_id = #{webId,jdbcType=INTEGER};
    </select>
    <select id="getTagsByWebId" resultType="java.lang.String">
        select distinct tag
        from tag
        <where>
            <if test="webId != null">
                web_id = #{webId,jdbcType=INTEGER}
            </if>
        </where>
        limit #{from}, #{size};
    </select>
    <select id="getWebIdByTagName" resultType="java.lang.Integer">
        select web_id
        from tag
        where tag = #{tagName,jdbcType=VARCHAR}
        limit #{from}, #{size};
    </select>
    <delete id="deleteTag">
        delete
        from tag
        where tag = #{tagName,jdbcType=VARCHAR}
          and web_id = #{webId,jdbcType=INTEGER};
    </delete>
    <delete id="deleteAllTags">
        delete
        from tag
        where web_id = #{webId,jdbcType=INTEGER};
    </delete>
    <select id="getTagAndCount" resultType="com.github.learndifferent.mtm.entity.TagAndCountDO">
        select count(web_id) as number, tag
        from tag
        group by tag
        <if test="beMoreThanOne == true">
            having number > 1
        </if>
        order by number desc
        <if test="size gte 0">
            limit #{from}, #{size};
        </if>
    </select>
</mapper>